[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
play_gpt = {editable = true, path = "."}
langchain = "*"
openai = "*"
jupyterlab = "*"
spotipy = "*"
pydantic = "*"
python-dotenv = "*"
pydantic-settings = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.10"
